@import "../../../styles/constants";

.searchPlate{
  width: 100%;
  height: 100%;
  background-color: lighten($main_blue, 14%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  //box-shadow: 0px 0px 30px -10px rgba(66, 80, 107, 0.8);
  position: fixed;
  top: 0;
  &:after{
    content: '';
    width: 200vw;
    height: 200vw;
    border-radius: 100%;
    position: absolute;
    background-color: #ffc28b;
    opacity: 0.4;
    z-index: -1;
    bottom: -115vw;
    right: -90vw;
  }
  //transform: rotate(20deg) translateX(-40%) translateY(20%);
}

.topNav{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.searchPlateNext{
  animation: slide_away .4s ease-in forwards;
}

.tags{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  //position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  //bottom: 0;
  flex-grow: 1;
}
.tags_container{
  text-align: center;
  width: 100%;
}

.avatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-grow: 2;
}

@keyframes slide_away {
  0%{
    transform: rotate(0);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: rotate(20deg) translateX(-40%) translateY(20%);
    opacity: 0;
  }
}