@import "../../../styles/constants";

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(lighten($main_blue, 5%) 0%, $main_bg 60%);
  //flex-grow: 2;
  justify-content: space-between;
}