@import "../../../../styles/constants";

.row{
  display: flex;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
  animation: slide_in ease-in 0.3s forwards;
  & button{
    //background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    height: 2.3em;
    border-radius: 0.5em;
  }
}

.button_next{
  flex-grow: 1;
  border: $main_red 1px solid;
  color: $main_red;
  background-color: transparent;
}

.button_start{
  flex-grow: 4;
  margin-left: 0.5em;
  border: $main_blue 2px solid;
  //color: darken($main_blue, 0%);
  background-color: $main_blue;
  color: white;
}

@keyframes slide_in {
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  90%{
    opacity: 1;
    transform: translateY(-10%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}