@import "../../../styles/constants";

.container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main_bg;
  flex-direction: column;
}

.block{
  width: 80vw;
  height: 80vw;
  background-color: $main_blue;
  border-radius: 100%;
}

.text{
  margin-top: 1em;
  font-size: 1.5em;
  color: darken($main_blue, 15%);
  font-weight: 300;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    animation: dots 2s linear infinite;
  }
}

@keyframes dots {
  0%{
    content: '';
  }
  25%{
    content: '.';
  }
  50%{
    content: '..';
  }
  75%{
    content: '...';
  }
  100%{
    content: '...';
  }
}