@import "../../../styles/constants";

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($main_blue, 14%);
  &:after {
    content: '';
    width: 100vw;
    height: 100vw;
    background-color: #ff6661;
    opacity: 0.4;
    position: absolute;
    top: -40vw;
    border-radius: 1em;
    right: -40vw;
    z-index: 0;
    transform: rotate(30deg);
  }
  &:before{
    content: '';
    width: 110vw;
    height: 110vw;
    background-color: #8990ff;
    opacity: 0.4;
    position: absolute;
    bottom: -50vw;
    border-radius: 100%;
    left: -20vw;
    z-index: 0;
    transform: rotate(30deg);
  }
}

.spinnerBg{
  width: 5em;
  height: 5em;
  border: 0.25em solid #e1e1e1;
  border-top: 0.25em solid $main_blue;
  border-radius: 100%;
  animation: spin infinite ease-in-out 1s;
  z-index: 2;
}

.backButton{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

@keyframes spin {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}